$primary: #e7292b;

@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin dimension($width, $height){
    width: $width;
    height: $height;
}

@mixin fonts($size, $weight) {
    font: {
        size: $size;
        weight: $weight;
    }
}

