.main {
  max-width: 1440px;
  margin: auto;
}

.sidebar-social {
  position: fixed;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 99;
}

.sidebar-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-social li {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar-social i {
  color: white;
  font-size: 2rem;
  padding: 12px;
}

.sidebar-social .sidebar-social__item--text {
  width: 48px;
  height: 20px;
  font-size: 1.3rem;
  font-weight: 600;
  color: #999999;
}

.sidebar-social .sidebar-social__item--fb {
  background-color: #1877f2;
}

.sidebar-social .sidebar-social__item--in {
  background-color: #0077b5;
}

.sidebar-social .sidebar-social__item--phone {
  background-color: #25d366;
}

.sidebar-social .sidebar-social__item--mes {
  background-color: #33c123;
}

.sidebar-social .sidebar-social__item--plus {
  background-color: #fe6656;
}

.header {
  max-width: 1440px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 135px;
}

.header a {
  text-decoration: none;
  color: black;
  -webkit-transition: 0.1s ease color;
  transition: 0.1s ease color;
}

.header a:hover {
  color: #e7292b;
}

.header .header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__left .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__left .header__logo .header__logo-img1 {
  width: 168px;
  height: 29px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 8px 20px 7px 0;
}

.header .header__left .header__logo .header__logo-border-left {
  width: 0;
  height: 39px;
  border: solid 1px #dddddd;
  margin: 4px 0;
}

.header .header__left .header__logo .header__logo-img2 {
  width: 151px;
  height: 44px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 33px 0 12px;
}

.header .header__left ul {
  padding: 0;
  list-style: none;
}

.header .header__left ul li {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Poppins';
  cursor: pointer;
}

.header .header__left ul li:nth-child(2) {
  margin: 0 20px;
}

.header .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__btn {
  width: 100px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}

.header .header__btn--language {
  background-color: #f8f8fa;
  margin-right: 16px;
  border: solid 1px #dddddd;
}

.header .header__btn--language i {
  color: #e7292b;
  padding-right: 2px;
}

.header .header__btn--register {
  background-color: #e7292b;
  color: white;
}

.header .header__right-mb {
  display: none;
  font-size: 2.6rem;
  cursor: pointer;
}

.header .nav-input:checked ~ .header__overlay, .header .nav-input:checked ~ .header__right-mb-container {
  display: block;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header .header__overlay {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  -webkit-animation: fadeIn .2s linear;
          animation: fadeIn .2s linear;
  background-color: rgba(0, 0, 0, 0.3);
}

.header .header__right-mb-container {
  position: fixed;
  z-index: 100;
  width: 50vw;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .2s ease-in;
  transition: -webkit-transform .2s ease-in;
  transition: transform .2s ease-in;
  transition: transform .2s ease-in, -webkit-transform .2s ease-in;
  background-color: white;
}

.header .header__right-mb-container .header__right-mb-icon-times {
  font-size: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
  margin-bottom: 10px;
}

.header .header__right-mb-container .header__header-mb-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .header__right-mb-container ul {
  margin: 0;
  padding: 30px;
  list-style: none;
}

.header .header__right-mb-container li {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Poppins';
  padding: 10px 0;
  cursor: pointer;
  border-bottom: 1px solid #4b4848;
}

.banner {
  position: relative;
  max-width: 1366px;
  height: 500px;
  margin: 0 auto;
}

.banner .banner__img {
  max-width: 100%;
  height: 100%;
}

.banner .banner__form {
  width: 581px;
  height: 290px;
  position: absolute;
  top: 75px;
  left: 102px;
}

.banner .banner__form p {
  margin: 0;
  font-family: Poppins;
}

.banner .banner__form .banner__form-text1 {
  color: #e7292b;
  font-size: 2.4rem;
  font-weight: bold;
}

.banner .banner__form .banner__form-text2 {
  font-size: 7.2rem;
  font-weight: bold;
  line-height: 60px;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 20px;
}

.banner .banner__form .banner__form-day {
  font-size: 2.4rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.banner .banner__form .banner__form-time {
  font-size: 2.4rem;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  padding-top: 14px;
}

.banner .banner__form .banner__form-btn {
  width: 200px;
  height: 40px;
  font-size: 1.6rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e7292b;
  border-radius: 6px;
  font-family: Poppins;
  color: white;
  margin-top: 16px;
  bottom: 0;
  cursor: pointer;
}

.banner .banner__ellipse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;
}

.banner .banner__ellipse .banner__ellipse-icon {
  font-size: 3.6rem;
  color: white;
}

.banner .banner__ellipse--1 {
  left: 20px;
}

.banner .banner__ellipse--2 {
  right: 20px;
}

.banner .banner__carousel {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  display: none;
  bottom: 16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.banner .banner__carousel li {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  margin-right: 8px;
  cursor: pointer;
}

.banner .banner__carousel li:last-child {
  margin-right: 0;
}

.banner .banner__carousel .banner__carousel-dots--active {
  background-color: #e7292b;
}

.banner .banner__place-holder {
  -webkit-box-shadow: 0px 0px 14px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 14px 8px rgba(0, 0, 0, 0.3);
  width: 85.6%;
  height: 120px;
  position: absolute;
  bottom: -60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 17px 32px 0 32px;
  background-color: #3132D7;
  color: white;
  text-transform: uppercase;
  font-family: Poppins;
}

.banner .banner__place-holder p {
  margin: 0;
}

.banner .banner__place-holder .banner__place-holder-form-text .banner__place-holder-text1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 3.5rem;
}

.banner .banner__place-holder .banner__place-holder-form-text .banner__place-holder-text2 {
  font-size: 42px;
  font-weight: 600;
  line-height: 4.5rem;
}

.banner .banner__place-holder .banner__place-holder-time ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.banner .banner__place-holder .banner__place-holder-time li {
  display: inline-block;
  padding-right: 55px;
  text-align: center;
}

.banner .banner__place-holder .banner__place-holder-time li:last-child {
  padding-right: 29px;
}

.banner .banner__place-holder .banner__place-holder-time li .banner_item-number {
  font-size: 42px;
  font-weight: 600;
  line-height: 5.2rem;
}

.banner .banner__place-holder .banner__place-holder-time li .banner_item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 2.4rem;
}

.nopath {
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 110px 0 50px 0;
  overflow-x: auto;
}

.nopath .nopath__img {
  margin-right: 30px;
}

.nopath .nopath__img:last-child {
  margin-right: 0;
}

.intro {
  max-width: 1440px;
  background-color: #f8f8fa;
  padding: 33px 135px 0 135px;
  text-align: center;
}

.intro p {
  margin: 0;
}

.intro .intro__header {
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 5.5rem;
}

.intro .intro__header span {
  color: #e7292b;
}

.intro .intro__text {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3.3rem;
  padding-bottom: 31px;
}

.intro ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.intro li {
  display: inline-block;
  width: 290px;
  padding-right: 30px;
  padding-bottom: 70px;
}

.intro li .intro__icon {
  font-size: 6rem;
  color: #e7292b;
  padding: 28px 0 19px 0;
}

.intro li .intro__item-header {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.7rem;
}

.intro li .intro__item-text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: #666666;
}

.speakers {
  max-width: 1440px;
  height: 825px;
  padding: 51px 135px 50px 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.speakers .speakers__header {
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 5.5rem;
}

.speakers .speakers__intro {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3.3rem;
}

.speakers ul {
  list-style: none;
  padding: 26px 0 40px 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  width: 100%;
  overflow-x: auto;
}

.speakers li {
  max-width: 370px;
  height: 510px;
  text-align: left;
  border-radius: 12px;
  -webkit-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
}

.speakers li .spealers___container-text {
  padding: 18px 33px 0 27px;
}

.speakers li .speaker__name {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.5rem;
}

.speakers li .speaker__position {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
  color: #8893aa;
}

.speakers li .speaker__desciption {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: #666666;
}

.speakers .speakers__btn {
  width: 170px;
  height: 40px;
  font-size: 1.5rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e7292b;
  border: solid 1px #e7292b;
  border-radius: 6px;
  text-decoration: none;
  margin-top: 14px;
}

.program {
  max-width: 1440px;
  height: 840px;
  background-color: #0b0434;
  color: white;
  padding: 74px 135px 0 135px;
}

.program .program__header {
  text-align: center;
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 5.5rem;
}

.program .program__desciption {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3.3rem;
}

.program .program__day-list {
  max-width: 1170px;
  list-style: none;
  padding: 23px 0 0 0;
  margin: 0;
  border-bottom: solid 1px #e7292b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.program .program__day-item {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 8rem;
  color: white;
  opacity: 50%;
  padding-right: 208px;
}

.program .program__day-item--selected {
  color: #e7292b;
  border-bottom: solid 5px #e7292b;
  opacity: 100%;
}

.program .program__content-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.program .program__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.8rem;
  font-weight: 600;
  border-bottom: solid 2px rgba(255, 255, 255, 0.2);
}

.program .program__time {
  width: 170px;
  line-height: 8rem;
}

.program .program__title {
  width: 800px;
  line-height: 8rem;
}

.program .program__btn {
  width: 170px;
  height: 40px;
  font-size: 1.5rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  background-color: #e7292b;
  cursor: pointer;
}

.brands-list {
  padding: 50px 135px;
  text-align: center;
}

.brands-list .brands-list__header {
  font-size: 36px;
  font-weight: bold;
  line-height: 55px;
  color: #333333;
}

.brands-list .brands-list__description {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  color: #333333;
}

.brands-list .brands-list__list {
  padding-bottom: 43px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.brands-list .brands-list__img {
  margin-top: 27px;
  max-width: 100%;
}

.footer {
  max-width: 1440px;
}

.footer a {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.1s ease color;
  transition: 0.1s ease color;
}

.footer a:hover {
  color: #e7292b;
}

.footer-top {
  padding: 41px 135px;
  background-color: #222222;
}

.footer-top .footer__title {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
  color: white;
}

.footer-top .footer__line {
  width: 100px;
  height: 0;
  border-bottom: solid 3px #e7292b;
  margin-bottom: 19px;
}

.footer-top .footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-top .footer__item {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 30px;
  color: #999999;
}

.footer-top .footer__input-email {
  width: 100%;
  height: 40px;
  font-size: 1.6rem;
  font-weight: 400;
  padding-left: 15px;
  outline: none;
  color: #cccccc;
  display: block;
}

.footer-top .footer__input-submit {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #222222;
  color: white;
  border: solid 1px #ffffff;
  -webkit-transition: 0.15s linear color border;
  transition: 0.15s linear color border;
}

.footer-top .footer__input-submit:hover {
  color: #e7292b;
  border: solid 1px #e7292b;
}

.footer-bottom {
  padding: 29px 135px;
  background-color: #111111;
  color: white;
}

.footer-bottom .footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
  font-weight: 400;
}

.footer-bottom .footer__copyright p {
  line-height: 21px;
}

.footer-bottom .footer__copyright ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-bottom .footer__copyright li {
  display: inline-block;
  line-height: 21px;
  padding-right: 12px;
  cursor: pointer;
}

.footer-bottom .footer__copyright li:last-child {
  padding-right: 0;
}
/*# sourceMappingURL=main.css.map */