@import 'define';

.main{
    max-width: 1440px;
    margin: auto;
}

//sidebar social 
.sidebar-social{
    position: fixed;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li{
        @include dimension(48px, 48px);
        @include flexCenter;
    }
    i{
        color: white;
        font-size: 2rem;
        padding: 12px;
    }
    .sidebar-social__item--text{
        @include dimension(48px, 20px);
        @include fonts(1.3rem, 600);
        color: #999999;
    }
    .sidebar-social__item--fb{
        background-color: #1877f2;
    }
    .sidebar-social__item--in{
        background-color: #0077b5;
    }
    .sidebar-social__item--phone{
        background-color: #25d366;
    }
    .sidebar-social__item--mes{
        background-color: #33c123;
    }
    .sidebar-social__item--plus{
        background-color: #fe6656;
    }
}

// header
.header{
    a{
        text-decoration: none;
        color: black;
        transition: 0.1s ease color;
        &:hover{
            color: $primary;
        }
    }
    max-width: 1440px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 135px;
    .header__left{
        display: flex;
        align-items: center;
        .header__logo{
            display: flex;
            .header__logo-img1{
                @include dimension(168px, 29px);
                object-fit: contain;
                margin: 8px 20px 7px 0;
            }
            .header__logo-border-left{
                @include dimension(0, 39px);
                border: solid 1px #dddddd;
                margin: 4px 0;
            }
            .header__logo-img2{
                @include dimension(151px, 44px);
                object-fit: contain;
                margin: 0 33px 0 12px;
            }
        }
        ul{
            padding: 0;
            list-style: none;
            li{
                display: inline-block;
                @include fonts(1.5rem, bold);
                font-family: 'Poppins';
                &:nth-child(2){
                    margin: 0 20px;
                };
                cursor: pointer;
            }
        }
    }
    .header__right{
        display: flex;
    }
    .header__btn{
        @include dimension(100px,36px);
        @include flexCenter();
        @include fonts(15px, 600);
        border-radius: 6px;
        cursor: pointer;
    }
    .header__btn--language{
        background-color: #f8f8fa;
        margin-right: 16px;
        border: solid 1px #dddddd;
        i{
            color: #e7292b;
            padding-right: 2px;
        }
    }
    .header__btn--register{
        background-color: #e7292b;
        color: white;
    }

// header mb
    .header__right-mb{
        display: none;
        font-size: 2.6rem;
        cursor: pointer;
    }
    .nav-input {
        &:checked{
            ~ .header__overlay, ~.header__right-mb-container{
                display: block;
                transform: translateX(0);
            }
        }
    }
    .header__overlay{
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
        animation: fadeIn .2s linear;
        background-color: rgba(0,0,0,.3);
    }
    .header__right-mb-container{
        position: fixed;
        z-index: 100;
        width: 50vw;    
        top:0;
        bottom: 0;
        right: 0;
        padding: 20px;
        transform: translateX(100%);
        transition: transform .2s ease-in;
        background-color: white;
        .header__right-mb-icon-times{
            font-size: 2.4rem;
            display: flex;
            justify-content: flex-end;
            cursor: pointer;
            margin-bottom: 10px;
        }
        .header__header-mb-btn{
            display: flex;
            justify-content: space-around;
        }
        ul{
            margin: 0;
            padding: 30px;
            list-style: none;
        }
        li{
            @include fonts(1.5rem, bold);
            font-family: 'Poppins';
            padding: 10px 0;
            cursor: pointer;
            border-bottom: 1px solid #4b4848;
        }
    }
}

// banner
.banner{
    position: relative;
    max-width: 1366px;
    height: 500px;
    margin: 0 auto;
    .banner__img{
        max-width: 100%;
        height: 100%;
    }
    .banner__form{
        @include dimension(581px, 290px);
        position: absolute;
        top: 75px;
        left: 102px;
        p{
            margin: 0;
            font-family: Poppins;
        }
        .banner__form-text1{
            color: #e7292b;
            @include fonts(2.4rem, bold);
        }
        .banner__form-text2{
            @include fonts(7.2rem, bold);
            line-height: 60px;
            color: #ffffff;
            text-transform: uppercase;
            padding-top: 14px;
            padding-bottom: 20px;
        }
        .banner__form-day{
            @include fonts(2.4rem, bold);
            color: white;
            text-transform: uppercase;
        }
        .banner__form-time{
            @include fonts(2.4rem, 400);
            color: white;
            text-transform: uppercase;
            padding-top: 14px;
        }
        .banner__form-btn{
            @include dimension(200px, 40px);
            @include fonts(1.6rem, 600);
            @include flexCenter;
            background-color: $primary;
            border-radius: 6px;
            font-family: Poppins;
            color: white;
            margin-top: 16px;
            bottom: 0;
            cursor: pointer;
        }
    }
    .banner__ellipse{
        @include flexCenter;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 60px;
        height: 60px;
        background-color: rgba(0,0,0,0.3);
        border-radius: 50%;
        cursor: pointer;
        .banner__ellipse-icon{
            font-size: 3.6rem;
            color: white;
        }
    }
    .banner__ellipse--1{
        left: 20px;
    }
    .banner__ellipse--2{
        right: 20px;
    }
    .banner__carousel{
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        display: none;
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);
        li{
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: hsla(0,0%,100%,.4);
            margin-right: 8px;
            cursor: pointer;
            &:last-child{
                margin-right: 0;
            }
        }
        .banner__carousel-dots--active{
            background-color: $primary;
        }
    }

    .banner__place-holder{
        p{
            margin: 0;
        }
        box-shadow: 0px 0px 14px 8px rgba(0, 0, 0, 0.3);
        width: 85.6%;
        height: 120px;
        position: absolute;
        bottom: -60px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 12px;
        display: flex;
        justify-content: space-between;
        padding: 17px 32px 0 32px;
        background-color: #3132D7;
        color: white;
        text-transform: uppercase;
        font-family: Poppins;
        // .banner__place-holder-img{
        //     object-fit: contain;
        //     background-image: linear-gradient(to left, rgba(252, 0, 3, 0), #7848f4);
        // }
        .banner__place-holder-form-text{
            
            .banner__place-holder-text1{
                @include fonts(24px, 600);
                line-height: 3.5rem;
            }
            .banner__place-holder-text2{
                @include fonts(42px, 600);
                line-height: 4.5rem;
            }
        }
        .banner__place-holder-time{
            ul{
                list-style: none;
                padding: 0;
                margin: 0;
            }
            li{
                display: inline-block;
                padding-right: 55px;
                text-align: center;
                &:last-child{
                    padding-right: 29px;
                }
                .banner_item-number{
                    @include fonts(42px, 600);
                    line-height: 5.2rem;
                }
                .banner_item-text{
                    @include fonts(16px, 400);
                    line-height: 2.4rem;
                }
            }
        }
    }
}

// No Path
.nopath{
    max-width: 1170px;
    display: flex;
    margin: 0 auto;
    padding: 110px 0 50px 0;
    overflow-x: auto;
    .nopath__img{
        margin-right: 30px;
        &:last-child{
            margin-right: 0;
        }
    }
}

// inrro
.intro{
    max-width: 1440px;
    background-color: #f8f8fa;
    padding: 33px 135px 0 135px;
    text-align: center;
    p{
        margin: 0;
    }
    .intro__header{
        @include fonts(3.6rem, bold);
        line-height: 5.5rem;
        span{
            color: $primary;
        }
    }
    .intro__text{
        @include fonts(2.2rem, 400);
        line-height: 3.3rem;
        padding-bottom: 31px;
    }
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    li{
        display: inline-block;
        width: 290px;
        padding-right: 30px;
        padding-bottom: 70px;
        .intro__icon{
            font-size: 6rem;
            color: $primary;
            padding: 28px 0 19px 0;
        }
        .intro__item-header{
            @include fonts(1.8rem, 600);
            line-height: 2.7rem;
        }
        .intro__item-text{
            @include fonts(1.6rem, 400);
            line-height: 2.5rem;
            color: #666666;
        }
    }
}

// speakers
.speakers{
    max-width: 1440px;
    height: 825px;
    padding: 51px 135px 50px 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .speakers__header{
        @include fonts(3.6rem, bold);
        line-height: 5.5rem;
    }
    .speakers__intro{
        @include fonts(2.2rem, 400);
        line-height: 3.3rem;
    }
    ul{
        list-style: none;
        padding: 26px 0 40px 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3rem;
        width: 100%;
        overflow-x: auto;
    }
    li{
        max-width: 370px;
        height: 510px;
        text-align: left;
        border-radius: 12px;
        box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
        .spealers___container-text{
            padding: 18px 33px 0 27px;
        }
        .speaker__name{
            @include fonts(2.4rem, 600);
            line-height: 3.5rem;
        }
        .speaker__position{
            @include fonts(1.4rem, 400);
            line-height: 2.1rem;
            color: #8893aa;
        }
        .speaker__desciption{
            @include fonts(1.6rem, 400);
            line-height: 2.5rem;
            color: #666666;
        }
    }
    .speakers__btn{
        @include dimension(170px, 40px);
        @include fonts(1.5rem, 600);
        @include flexCenter;
        color: $primary;
        border: solid 1px $primary;
        border-radius: 6px;
        text-decoration: none;
        margin-top: 14px
    }
}

// program
.program{
    max-width: 1440px;
    height: 840px;
    background-color: #0b0434;
    color: white;
    padding: 74px 135px 0 135px;
    .program__header{
        text-align: center;
        @include fonts(3.6rem, bold);
        line-height: 5.5rem;
    }
    .program__desciption{
        text-align: center;
        @include fonts(2.2rem, 400);
        line-height: 3.3rem;
    }
    .program__day-list{
        max-width: 1170px;
        list-style: none;
        padding: 23px 0 0 0;
        margin: 0;
        border-bottom: solid 1px #e7292b;
        display: flex;
        flex-wrap: nowrap;
    }
    .program__day-item{
        @include fonts(2.4rem, 600);
        line-height: 8rem;
        color: white;
        opacity: 50%;
        padding-right: 208px;
    }
    .program__day-item--selected{
        color: $primary;
        border-bottom: solid 5px $primary;
        opacity: 100%;
    }
    .program__content-list{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .program__content-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include fonts(1.8rem, 600);
        border-bottom: solid 2px rgba(255, 255, 255, 0.2);
    }
    .program__time {
        width: 170px;
        line-height: 8rem;
        // padding
    }
    .program__title{
        width: 800px;
        line-height: 8rem;
    }
    .program__btn{
        @include dimension(170px, 40px);
        @include fonts(1.5rem, 600);
        @include flexCenter;
        border-radius: 6px;
        background-color: $primary;
        cursor: pointer;
    }
}

// 
.brands-list{
    padding: 50px 135px;
    text-align: center;
    .brands-list__header{
        @include fonts(36px, bold);
        line-height: 55px;
        color: #333333;
    }
    .brands-list__description{
        @include fonts(22px, 400);
        line-height: 33px;
        color: #333333;
    }
    .brands-list__list{
        padding-bottom: 43px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    .brands-list__img{
        margin-top: 27px;
        max-width: 100%;
    }
}

// footer
.footer{
    max-width: 1440px;
    a{
        text-decoration: none;
        color: white;
        transition: 0.1s ease color;
        &:hover{
            color: $primary;
        }
    }
}
.footer-top{
    padding: 41px 135px;
    background-color: #222222;
    .footer__title{
        @include fonts(1.8rem, 600);
        line-height: 30px;
        color: white;
    }
    .footer__line{
        @include dimension(100px, 0);
        border-bottom: solid 3px #e7292b;
        margin-bottom: 19px
    }
    .footer__list{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .footer__item{
        @include fonts(1.4rem, 400);
        line-height: 30px;
        color: #999999;
    }
    .footer__input-email{
        @include dimension(100%, 40px);
        @include fonts(1.6rem, 400);
        padding-left: 15px;
        outline: none;
        color: #cccccc;
        display: block;
    }
    .footer__input-submit{
        margin-top: 10px;
        @include dimension(100%, 40px);
        @include fonts(1.5rem, 600);
        background-color: #222222;
        color: white;
        border: solid 1px #ffffff;
        transition: 0.15s linear color border;
        &:hover{
            color: $primary;
            border: solid 1px $primary;
        }
    }
}
.footer-bottom{
    padding: 29px 135px;
    background-color: #111111;
    color: white;
    
    .footer__copyright{
        display: flex;
        justify-content: space-between;
        @include fonts(1.4rem, 400);
        p{
            line-height: 21px;
        }
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
        }
        li{
            display: inline-block;
            line-height: 21px;
            padding-right: 12px;
            cursor: pointer;
            &:last-child{
                padding-right: 0;
            }
        }
    }
}
