@import 'define';

/* < 1120px, >= ipad pro */
@media (max-width: 1120px){
    .hide-on-mobile-tablet{
        display: none;
    }
    // header
    .header{
        padding:0 30px;
        .header__right{
            display: none;
        }
        .header__right-mb{
            display: block;
        }
    }
    // banner
    .banner{
        padding: 0 20px;
        .banner__place-holder{
            display: none;
        }
        .banner__carousel{
            display: block;
        }
    }
    // No Path
    .nopath{
        padding: 20px;
    }
    // intro
    .intro{
        padding: 30px 20px 0 20px;
    }

    // speakers
    .speakers{
        padding: 51px 20px 30px 20px;
    }
    // program
    .program{
        padding: 74px 20px 0 20px;
    }
    // brand
    .brands-list{
        padding: 40px 20px;
        .brands-list__list{
            padding-bottom: 40px;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
        }
        .brands-list__img{
            margin-top: 10px;
        }
    }
    // footer
    .footer-top{
        padding: 41px 20px;
    }
    .footer-bottom{
        padding: 29px 20px;
    }
    
}

@media (max-width: 1023px){
    .sidebar-social{
        display: none;
    }
}
/* tablet */
@media (min-width: 740px) and (max-width: 1023px){
    .hide-on-tablet{
        display: none;
    }
    // header
    .header{
        padding:0 60px;
    }
    .program{
        .program__day-item{
            padding-right: 100px;
        }
    }
}

/* mobile */
@media (max-width: 739px){
    .hide-on-mobile{
        display: none;
    }
    // header
    .header{
        padding:0 20px;
        height: 80px;
        .header__left{
            .header__logo{
                .header__logo-img2, .header__logo-border-left{
                   display: none;
                }
            }
        }
        .header__right-mb-container{
            width: 100vw; 
        }
    }
    // banner
    .banner{
        padding: 0 10px;
        .banner__ellipse{
            display: none;
        }
        .banner__form{
            @include dimension(300px, 350px);
            top: 75px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            .banner__form-text1{
                @include fonts(1.8rem, bold);
            }
            .banner__form-text2{
                @include fonts(4.8rem, bold);
            }
            .banner__form-day{
                @include fonts(2.2rem, bold);
            }
            .banner__form-time{
                @include fonts(2.2rem, 400);
            }
            .banner__form-btn{
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    // nopath
    .nopath{
        padding: 10px;
    }

    // inrro
    .intro{
        padding: 30px 10px 0 10px;
        ul{
            justify-content: center;
        }
        li{
            padding-right: 0;
            padding-bottom: 33px;
        }
    }

    // speakers
    .speakers{
        padding: 51px 10px 20px 10px;
    }
    // program
    .program{
        display: none;
    }
    // brand
    .brands-list{
        padding: 20px 10px;
        .brands-list__header{
            @include fonts(3rem, bold);
            line-height: 40px;
        }
        .brands-list__description{
            @include fonts(2rem, 400);
            line-height: 30px;
        }
        .brands-list__list{
            padding-bottom: 20px;
        }
        .brands-list__img{
            margin-top: 10px;
        }
    }
    // footer
    .footer-top{
        p{
            margin-bottom: 5px;
        }
        padding: 20px 10px;
        .footer__line{
            margin-bottom: 0;
        }
        .footer__item{
            &:last-child{
                margin-bottom: 12px;
            }
        }
        .footer__input-email{
            margin-top: 10px;
        }
    }
    .footer-bottom{
        padding: 20px 10px;
        .footer__copyright{
            flex-direction: column;
            align-items: center;
            @include fonts(1.2rem, 400);
        }
    }
}

