/* < 1120px, >= ipad pro */
@media (max-width: 1120px) {
  .hide-on-mobile-tablet {
    display: none;
  }
  .header {
    padding: 0 30px;
  }
  .header .header__right {
    display: none;
  }
  .header .header__right-mb {
    display: block;
  }
  .banner {
    padding: 0 20px;
  }
  .banner .banner__place-holder {
    display: none;
  }
  .banner .banner__carousel {
    display: block;
  }
  .nopath {
    padding: 20px;
  }
  .intro {
    padding: 30px 20px 0 20px;
  }
  .speakers {
    padding: 51px 20px 30px 20px;
  }
  .program {
    padding: 74px 20px 0 20px;
  }
  .brands-list {
    padding: 40px 20px;
  }
  .brands-list .brands-list__list {
    padding-bottom: 40px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
  .brands-list .brands-list__img {
    margin-top: 10px;
  }
  .footer-top {
    padding: 41px 20px;
  }
  .footer-bottom {
    padding: 29px 20px;
  }
}

@media (max-width: 1023px) {
  .sidebar-social {
    display: none;
  }
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }
  .header {
    padding: 0 60px;
  }
  .program .program__day-item {
    padding-right: 100px;
  }
}

/* mobile */
@media (max-width: 739px) {
  .hide-on-mobile {
    display: none;
  }
  .header {
    padding: 0 20px;
    height: 80px;
  }
  .header .header__left .header__logo .header__logo-img2, .header .header__left .header__logo .header__logo-border-left {
    display: none;
  }
  .header .header__right-mb-container {
    width: 100vw;
  }
  .banner {
    padding: 0 10px;
  }
  .banner .banner__ellipse {
    display: none;
  }
  .banner .banner__form {
    width: 300px;
    height: 350px;
    top: 75px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
  }
  .banner .banner__form .banner__form-text1 {
    font-size: 1.8rem;
    font-weight: bold;
  }
  .banner .banner__form .banner__form-text2 {
    font-size: 4.8rem;
    font-weight: bold;
  }
  .banner .banner__form .banner__form-day {
    font-size: 2.2rem;
    font-weight: bold;
  }
  .banner .banner__form .banner__form-time {
    font-size: 2.2rem;
    font-weight: 400;
  }
  .banner .banner__form .banner__form-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .nopath {
    padding: 10px;
  }
  .intro {
    padding: 30px 10px 0 10px;
  }
  .intro ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .intro li {
    padding-right: 0;
    padding-bottom: 33px;
  }
  .speakers {
    padding: 51px 10px 20px 10px;
  }
  .program {
    display: none;
  }
  .brands-list {
    padding: 20px 10px;
  }
  .brands-list .brands-list__header {
    font-size: 3rem;
    font-weight: bold;
    line-height: 40px;
  }
  .brands-list .brands-list__description {
    font-size: 2rem;
    font-weight: 400;
    line-height: 30px;
  }
  .brands-list .brands-list__list {
    padding-bottom: 20px;
  }
  .brands-list .brands-list__img {
    margin-top: 10px;
  }
  .footer-top {
    padding: 20px 10px;
  }
  .footer-top p {
    margin-bottom: 5px;
  }
  .footer-top .footer__line {
    margin-bottom: 0;
  }
  .footer-top .footer__item:last-child {
    margin-bottom: 12px;
  }
  .footer-top .footer__input-email {
    margin-top: 10px;
  }
  .footer-bottom {
    padding: 20px 10px;
  }
  .footer-bottom .footer__copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.2rem;
    font-weight: 400;
  }
}
/*# sourceMappingURL=responsive.css.map */